
.menu {
    > ul {
        @media (max-width: 768px) {
            background: $red;
        }
        position: relative;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            background: $green;
            position: relative;
            &.active {
                a {
                    font-weight: 700;
                    font-size: 2em;
                }
            }
            a {
                font-family: $roboto;
                text-decoration: none;
                font-size: 1em;
                color: $red;
                &:hover {
                    color:black;
                    font-family: $openSans;
                }
            }
            a:hover {
                color:$blue;
            }

            .submenu {
                display: none;
                position: absolute;
                padding: 0;
                margin: 0;
                top: 100%;
                left: 0;
                min-width: 200px;
                li {
                    display: block;
                    padding: 10px;
                    border-bottom: 1px solid black;
                }
            }

            &:hover {
                .submenu {
                    display: block;
                }
            }
        }
    } 
}

// ul.main-menu > li {
//     background: green;
// }