@import "css/variables";
@import "css/_nav";
@import "css/responsive";

@mixin border-box {
  box-sizing: border-box;
  padding: 5%;
}

@mixin full-width {
  width: 100%;
  float: left;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}
body {
  background: lighten(#FF4136, 80%);
  font-size: $fontSizeMain;
  @include full-width();
  transition: padding-left 0.20s linear;
  &:hover {
    // padding-left: 100px;
  }
} 
  