.menu > ul {
  position: relative;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .menu > ul {
    background: #FF4136;
  }
}

.menu > ul li {
  display: inline-block;
  background: #3D9970;
  position: relative;
}

.menu > ul li.active a {
  font-weight: 700;
  font-size: 2em;
}

.menu > ul li a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 1em;
  color: #FF4136;
}

.menu > ul li a:hover {
  color: black;
  font-family: "Open Sans", sans-serif;
}

.menu > ul li a:hover {
  color: #7FDBFF;
}

.menu > ul li .submenu {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 100%;
  left: 0;
  min-width: 200px;
}

.menu > ul li .submenu li {
  display: block;
  padding: 10px;
  border-bottom: 1px solid black;
}

.menu > ul li:hover .submenu {
  display: block;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  background: white;
  font-size: 1.2em;
  width: 100%;
  float: left;
  -webkit-transition: padding-left 0.20s linear;
  transition: padding-left 0.20s linear;
}
/*# sourceMappingURL=style.css.map */